In [2]:
import requests, json
from collections import Counter
import pandas as pd
import numpy as np

# Get all WGS metagenomes

**fields to filter on:**

*metagenome filters*

{"field":"study_type","type":8, "value":["Metagenomics","Whole Genome Sequencing", "Whole Genome Sequencing ", "Other"]},

{"field":"sequencing_method", "type":7, "value":["illumina","Illumina"]},

{"field":"library_source", "type":8, "value":["metagenomic"]},

{"field":"library_strategy", "type": 8, "value":["WGS", "WGA", "OTHER"]},

{"field":"library_reads_sequenced_maxrun", "type":4, "value":1000000}]}'}

In [2]:
rules_items = [{"field":"study_type","type":8, "value":["Metagenomics","Whole Genome Sequencing", "Whole Genome Sequencing ", "Other"]},
               {"field":"sequencing_method", "type":7, "value":["illumina","Illumina"]},
               {"field":"library_source", "type":8, "value":["metagenomic"]},
               {"field":"library_strategy", "type": 8, "value":["WGS", "WGA", "OTHER"]},
               {"field":"library_reads_sequenced_maxrun", "type":4, "value":1000000}]
               
rules = {"rules":rules_items}
post_data = {'filter_params':json.dumps(rules)}

In [3]:
import requests, json
post = requests.post('https://api.metaseek.cloud/datasets/search/ids', data=post_data)
result = json.loads(post.text) #the parsed result returned from the API.

#this result will be a dictionary with a list of the matching dataset MetaSeek UIDs, a count of the number of matching datasets, and the filter parameters that were used
print(result.keys())
matching_datasets = result['matching_dataset_ids']

dict_keys(['filter_params', 'count_matching_datasets', 'matching_dataset_ids'])

In [8]:
print(len(matching_datasets))

107709

In [4]:
#loop through batches of 1000 IDs and query for full metadata for each batch
def get_batches(uid_list, batch_size):
    starts = list(range(0,len(uid_list),batch_size))
    ends = list(range(batch_size,len(uid_list),batch_size))
    ends.append(len(uid_list))
    batches = [list(a) for a in zip(starts, ends)]
    return batches

batch_indexes = get_batches(matching_datasets, batch_size=1000)

In [5]:
metagenomes = pd.DataFrame()
for batch in batch_indexes:
  batch_id_list = matching_datasets[batch[0]:batch[1]]
  post_data = {'metaseek_ids':str(batch_id_list)}
  print('getting metadata for batch ', batch)
  post_metadata = requests.post('https://api.metaseek.cloud/datasets/metadatafromids', data=post_data)
  result = json.loads(post_metadata.text)
  metagenomes = metagenomes.append(result['datasets'], ignore_index=True)

getting metadata for batch  [0, 1000]
getting metadata for batch  [1000, 2000]
getting metadata for batch  [2000, 3000]
getting metadata for batch  [3000, 4000]
getting metadata for batch  [4000, 5000]
getting metadata for batch  [5000, 6000]
getting metadata for batch  [6000, 7000]
getting metadata for batch  [7000, 8000]
getting metadata for batch  [8000, 9000]
getting metadata for batch  [9000, 10000]
getting metadata for batch  [10000, 11000]
getting metadata for batch  [11000, 12000]
getting metadata for batch  [12000, 13000]
getting metadata for batch  [13000, 14000]
getting metadata for batch  [14000, 15000]
getting metadata for batch  [15000, 16000]
getting metadata for batch  [16000, 17000]
getting metadata for batch  [17000, 18000]
getting metadata for batch  [18000, 19000]
getting metadata for batch  [19000, 20000]
getting metadata for batch  [20000, 21000]
getting metadata for batch  [21000, 22000]
getting metadata for batch  [22000, 23000]
getting metadata for batch  [23000, 24000]
getting metadata for batch  [24000, 25000]
getting metadata for batch  [25000, 26000]
getting metadata for batch  [26000, 27000]
getting metadata for batch  [27000, 28000]
getting metadata for batch  [28000, 29000]
getting metadata for batch  [29000, 30000]
getting metadata for batch  [30000, 31000]
getting metadata for batch  [31000, 32000]
getting metadata for batch  [32000, 33000]
getting metadata for batch  [33000, 34000]
getting metadata for batch  [34000, 35000]
getting metadata for batch  [35000, 36000]
getting metadata for batch  [36000, 37000]
getting metadata for batch  [37000, 38000]
getting metadata for batch  [38000, 39000]
getting metadata for batch  [39000, 40000]
getting metadata for batch  [40000, 41000]
getting metadata for batch  [41000, 42000]
getting metadata for batch  [42000, 43000]
getting metadata for batch  [43000, 44000]
getting metadata for batch  [44000, 45000]
getting metadata for batch  [45000, 46000]
getting metadata for batch  [46000, 47000]
getting metadata for batch  [47000, 48000]
getting metadata for batch  [48000, 49000]
getting metadata for batch  [49000, 50000]
getting metadata for batch  [50000, 51000]
getting metadata for batch  [51000, 52000]
getting metadata for batch  [52000, 53000]
getting metadata for batch  [53000, 54000]
getting metadata for batch  [54000, 55000]
getting metadata for batch  [55000, 56000]
getting metadata for batch  [56000, 57000]
getting metadata for batch  [57000, 58000]
getting metadata for batch  [58000, 59000]
getting metadata for batch  [59000, 60000]
getting metadata for batch  [60000, 61000]
getting metadata for batch  [61000, 62000]
getting metadata for batch  [62000, 63000]
getting metadata for batch  [63000, 64000]
getting metadata for batch  [64000, 65000]
getting metadata for batch  [65000, 66000]
getting metadata for batch  [66000, 67000]
getting metadata for batch  [67000, 68000]
getting metadata for batch  [68000, 69000]
getting metadata for batch  [69000, 70000]
getting metadata for batch  [70000, 71000]
getting metadata for batch  [71000, 72000]
getting metadata for batch  [72000, 73000]
getting metadata for batch  [73000, 74000]
getting metadata for batch  [74000, 75000]
getting metadata for batch  [75000, 76000]
getting metadata for batch  [76000, 77000]
getting metadata for batch  [77000, 78000]
getting metadata for batch  [78000, 79000]
getting metadata for batch  [79000, 80000]
getting metadata for batch  [80000, 81000]
getting metadata for batch  [81000, 82000]
getting metadata for batch  [82000, 83000]
getting metadata for batch  [83000, 84000]
getting metadata for batch  [84000, 85000]
getting metadata for batch  [85000, 86000]
getting metadata for batch  [86000, 87000]
getting metadata for batch  [87000, 88000]
getting metadata for batch  [88000, 89000]
getting metadata for batch  [89000, 90000]
getting metadata for batch  [90000, 91000]
getting metadata for batch  [91000, 92000]
getting metadata for batch  [92000, 93000]
getting metadata for batch  [93000, 94000]
getting metadata for batch  [94000, 95000]
getting metadata for batch  [95000, 96000]
getting metadata for batch  [96000, 97000]
getting metadata for batch  [97000, 98000]
getting metadata for batch  [98000, 99000]
getting metadata for batch  [99000, 100000]
getting metadata for batch  [100000, 101000]
getting metadata for batch  [101000, 102000]
getting metadata for batch  [102000, 103000]
getting metadata for batch  [103000, 104000]
getting metadata for batch  [104000, 105000]
getting metadata for batch  [105000, 106000]
getting metadata for batch  [106000, 107000]
getting metadata for batch  [107000, 107709]

In [9]:
metagenomes.head()

,age,altitude,assembly,avg_read_length_maxrun,baseA_count_maxrun,baseC_count_maxrun,baseG_count_maxrun,baseN_count_maxrun,baseT_count_maxrun,biomaterial_provider,...,study_type_other,submission_id,subspecific_genetic_lineage,target_gene,target_subfragment,taxon_common_name,taxon_scientific_name,tissue,total_num_bases_maxrun,uri
0,None,None,None,101.0000,328906237,253135919,258309914,1540558,322212162,None,...,None,SRA142047,None,None,None,None,human metagenome,G_DNA_Stool,1164104790,/dataset/471
1,None,None,None,251.0000,2530564082,2365540151,2381416521,1688418,2487627528,None,...,None,ERA319098,None,None,None,None,metagenome,None,9766836700,/dataset/472
2,None,None,None,118.2430,251876372,424083904,429011348,63249,245816809,None,...,None,SRA536700,Sample 372,None,None,None,indoor metagenome,None,1350851682,/dataset/474
3,None,None,None,114.2160,270678592,319116231,322950324,54335,265850402,None,...,None,SRA536700,Sample 374,None,None,None,indoor metagenome,None,1178649884,/dataset/476
4,None,None,None,98.2786,1698704767,1357826371,1352551982,34006,1698900055,None,...,None,ERA675994,None,None,None,Gut metagenome,gut metagenome,None,6108017181,/dataset/501

In [24]:
print(np.sum(metagenomes['library_reads_sequenced_maxrun'])/1e12)
np.sum(metagenomes['download_size_maxrun'])/1e12

2.284282536712

287.986866871226

if I used ALL of the metagenomes, I would :

-- have 2.28 TRILLION reads to input to the model

-- have to go through 288TB of raw data for every batch! (and that's just the .sra files!!)

maybe I can start with 1/100th of that amount and see how it goes... that will be about 20 billion inputs and 2.9TB to download

In [26]:
metagenomes.to_csv('AllWGSMetagenomes_111519.csv',index=False)

In [3]:
metagenomes = pd.read_csv("AllWGSMetagenomes_111519.csv")
metagenomes.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,2,4,6,7,17,20,25,26,27,29,42,63,68,73,91,92,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,age,altitude,assembly,avg_read_length_maxrun,baseA_count_maxrun,baseC_count_maxrun,baseG_count_maxrun,baseN_count_maxrun,baseT_count_maxrun,biomaterial_provider,...,study_type_other,submission_id,subspecific_genetic_lineage,target_gene,target_subfragment,taxon_common_name,taxon_scientific_name,tissue,total_num_bases_maxrun,uri
0,NaN,NaN,NaN,101.0000,328906237,2.531359e+08,258309914,1540558,3.222122e+08,NaN,...,NaN,SRA142047,NaN,NaN,NaN,NaN,human metagenome,G_DNA_Stool,1.164105e+09,/dataset/471
1,NaN,NaN,NaN,251.0000,2530564082,2.365540e+09,2381416521,1688418,2.487628e+09,NaN,...,NaN,ERA319098,NaN,NaN,NaN,NaN,metagenome,NaN,9.766837e+09,/dataset/472
2,NaN,NaN,NaN,118.2430,251876372,4.240839e+08,429011348,63249,2.458168e+08,NaN,...,NaN,SRA536700,Sample 372,NaN,NaN,NaN,indoor metagenome,NaN,1.350852e+09,/dataset/474
3,NaN,NaN,NaN,114.2160,270678592,3.191162e+08,322950324,54335,2.658504e+08,NaN,...,NaN,SRA536700,Sample 374,NaN,NaN,NaN,indoor metagenome,NaN,1.178650e+09,/dataset/476
4,NaN,NaN,NaN,98.2786,1698704767,1.357826e+09,1352551982,34006,1.698900e+09,NaN,...,NaN,ERA675994,NaN,NaN,NaN,Gut metagenome,gut metagenome,NaN,6.108017e+09,/dataset/501

In [4]:
np.histogram(metagenomes['library_reads_sequenced_maxrun'].dropna(), bins=1000)

(array([16903,  8562,  9277,  5238,  5654,  5548,  4712,  3778,  3204,
         3131,  2874,  2649,  2164,  2170,  1993,  1772,  1648,  1466,
         1376,  1384,  1301,  1240,  1136,  1133,   881,   907,   816,
          878,   751,   682,   654,   541,   538,   476,   460,   425,
          390,   379,   348,   286,   268,   257,   221,   221,   209,
          208,   181,   152,   148,   138,  2027,   121,   125,   111,
          125,    95,    96,   109,   100,   106,    98,    89,   104,
           92,    80,    81,    72,    72,    73,    77,    56,    91,
           46,    63,    75,    62,    45,    47,    53,    48,    61,
           55,    45,    55,    72,    65,    30,    31,    44,    37,
           29,    38,    45,    40,    38,    29,    26,    33,    39,
           34,    34,    37,    22,    49,    36,    25,    41,    33,
           36,    32,    41,    42,    39,    34,    34,    31,    34,
           32,    38,    37,    40,    31,    49,    27,    50,    43,
           36,    46,    45,    49,    35,    31,    39,    42,    34,
           42,    44,    41,    19,    39,    27,    25,    38,    36,
           35,    32,    27,    25,    12,    23,    28,    32,    23,
           20,    18,    22,    27,    25,    22,    20,    12,    14,
           15,    15,    14,    15,    16,    19,     4,    16,     9,
            7,     7,    11,     4,     6,    17,     5,    11,     6,
            6,     8,     4,     6,     2,     8,     7,     6,     4,
            6,     3,     7,     5,     4,     2,     8,     5,     3,
            5,     3,     7,     4,     4,     4,     1,     3,     2,
            0,     6,     0,     3,     2,     4,     1,     3,     2,
            1,     5,     0,     3,     1,     3,     6,     4,     1,
            5,     1,     5,     4,     3,     1,     3,     1,     1,
            4,     5,     5,     2,     5,     1,     4,     1,     1,
            4,     3,     2,     2,     1,     0,     3,     3,     3,
            4,     2,     4,     2,     3,     3,     2,     0,     2,
            2,     1,     0,     0,     1,     1,     2,     0,     3,
            1,     1,     1,     0,     2,     3,     0,     0,     0,
            1,     1,     0,     3,     2,     0,     1,     1,     3,
            1,     2,     0,     0,     0,     0,     2,     0,     1,
            0,     0,     1,     0,     0,     0,     1,     0,     1,
            0,     0,     0,     1,     0,     1,     0,     1,     0,
            0,     0,     0,     1,     0,     0,     1,     1,     0,
            2,     0,     0,     0,     0,     0,     1,     0,     0,
            1,     0,     0,     0,     1,     0,     0,     1,     3,
            1,     0,     1,     1,     1,     0,     2,     0,     0,
            0,     0,     1,     0,     0,     0,     0,     1,     0,
            1,     0,     0,     0,     1,     0,     0,     0,     0,
            0,     1,     0,     0,     0,     1,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     1,     0,
            0,     0,     0,     0,     0,     0,     0,     1,     0,
            0,     0,     1,     0,     0,     0,     1,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     1,     0,     1,     0,     0,     0,     0,
            1,     0,     0,     0,     0,     0,     0,     0,     0,
            1,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,    15,     0,     0,     0,     0,     0,     0,
            1,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     1,
            0,     0,     0,     0,     0,     0,     1,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     1,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     1,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     1,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     1,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            1]), array([1.00000000e+06, 2.35084474e+06, 3.70168947e+06, ...,
        1.34914305e+09, 1.35049389e+09, 1.35184474e+09]))

# Get a reasonable subset of training data from the 100k metagenomes

need download size to be below my 20TB hard disk limit - and remember, the .sra download size is maybe 5-10x smaller than the final .fastq size.

~evenly distributed across env_package, biome, etc.

In [5]:
Counter(metagenomes['metaseek_investigation_type'])

Counter({'metagenome': 104863,
         'mimarks-culture': 130,
         'bacteria_archaea': 142,
         'mimarks-survey': 4135,
         'eukaryote': 230,
         'virus': 106,
         nan: 1})

In [6]:
new = metagenomes[metagenomes['metaseek_investigation_type']=='metagenome']

In [7]:
new.shape

(104863, 98)

In [8]:
Counter(new['library_construction_method'])

Counter({'paired': 93288, 'single': 11575})

In [78]:
paired = new[new['library_construction_method']=='paired']
len(paired)

93288

In [79]:
Counter(paired['metaseek_env_package']).most_common()

[(nan, 68104),
 ('human-gut', 14823),
 ('water', 3566),
 ('host-associated', 2759),
 ('soil', 1244),
 ('human-skin', 1129),
 ('sediment', 387),
 ('wastewater/sludge', 386),
 ('plant-associated', 247),
 ('miscellaneous', 235),
 ('human-associated', 147),
 ('microbial mat/biofilm', 101),
 ('built environment', 86),
 ('human-oral', 74)]

In [9]:
Counter(new['metaseek_env_package']).most_common()

[(nan, 73871),
 ('human-gut', 17458),
 ('host-associated', 5356),
 ('water', 3665),
 ('soil', 1334),
 ('human-skin', 1129),
 ('sediment', 451),
 ('wastewater/sludge', 411),
 ('plant-associated', 364),
 ('miscellaneous', 307),
 ('human-associated', 214),
 ('human-oral', 115),
 ('microbial mat/biofilm', 102),
 ('built environment', 86)]

In [10]:
#I'm going to group all the human stuff together so we now have ten total categories
human = ['human-gut','human-skin','human-associated','human-oral']
other = ['water','host-associated','soil','sediment','wastewater/sludge','plant-associated','miscellaneous','microbial mat/biofilm','built environment']

In [11]:
len(new[new['metaseek_env_package']=='water'])

3665

In [12]:
len(new[new['metaseek_env_package'].isin(human)])

18916

In [73]:
#randomly select up to 100 metagenomes from each category
even = pd.DataFrame()
for cat in other:
    subset = new[new['metaseek_env_package']==cat]
    if len(subset)>=100:
        toadd = subset.sample(100,replace=False, random_state=1000)
    else:
        toadd = subset
    even = even.append(toadd)
subseth = new[new['metaseek_env_package'].isin(human)]
toaddh = subseth.sample(100, replace=False, random_state=1000)
even = even.append(toaddh)

In [80]:
#randomly select up to 100 metagenomes from each category
even_paired = pd.DataFrame()
for cat in other:
    subset = paired[paired['metaseek_env_package']==cat]
    if len(subset)>=100:
        toadd = subset.sample(100,replace=False, random_state=1000)
    else:
        toadd = subset
    even_paired = even_paired.append(toadd)
subseth = paired[paired['metaseek_env_package'].isin(human)]
toaddh = subseth.sample(100, replace=False, random_state=1000)
even_paired = even_paired.append(toaddh)

In [81]:
len(even_paired)

986

In [99]:
subset = even_paired[even_paired['metaseek_env_package']=='host-associated']
subset.sample(1,replace=False)[['run_ids_maxrun', 'study_title']]

      run_ids_maxrun                                        study_title
86033     ERR2241972  As part of the EFFORT project, we sampled fece...

In [104]:
Counter(subset['taxon_common_name'])
subset[subset['taxon_common_name']=='domestic cat'][['run_ids_maxrun', 'study_title']]

      run_ids_maxrun                                        study_title
40769      ERR878249  A longitudinal study of the feline faecal micr...
27919      ERR878219  A longitudinal study of the feline faecal micr...

In [74]:
len(even)

986

In [41]:
even.head()

,age,altitude,assembly,avg_read_length_maxrun,baseA_count_maxrun,baseC_count_maxrun,baseG_count_maxrun,baseN_count_maxrun,baseT_count_maxrun,biomaterial_provider,...,study_type_other,submission_id,subspecific_genetic_lineage,target_gene,target_subfragment,taxon_common_name,taxon_scientific_name,tissue,total_num_bases_maxrun,uri
8779,None,None,None,251.0,117008482,136079007,133412647,0,116232784,None,...,None,SRA274315,None,None,None,None,freshwater metagenome,None,502732920,/dataset/647855
20895,None,None,None,230.0,380756028,262065707,257678960,8189,381403878,None,...,None,ERA413491,None,None,None,None,marine metagenome,None,1281912762,/dataset/1554820
29034,None,None,None,97.0,10704029068,6727683875,6662886930,20622902,10741983542,None,...,None,ERA357871,None,None,None,None,marine metagenome,None,34857206317,/dataset/2181948
48626,None,None,None,146.0,4139249822,3706151668,3626880611,58773,4094571895,None,...,None,ERA990579,None,None,None,None,marine metagenome,None,15566912769,/dataset/3213949
9383,None,None,None,108.0,242081065,190221364,190514339,242927,240940305,None,...,None,ERA392462,None,None,None,None,metagenome,None,864000000,/dataset/689853

In [42]:
even['run_ids_maxrun'][0:20]

8779     SRR2089207
20895     ERR770995
29034     ERR599082
48626    ERR2098376
9383      ERR694137
48483    ERR1987991
75227    ERR2604105
9433      ERR868363
18327     ERR598947
20498     ERR868350
32896    SRR1029019
3722     ERR1662521
28116     SRR931753
14867     ERR594372
13445    SRR1230756
23441    ERR1662337
2580     ERR1726622
2007     ERR1726530
19848     ERR599042
85353    ERR2841088
Name: run_ids_maxrun, dtype: object

In [46]:
impt_fields = [
    'sample_title',
    'study_title',
    'metaseek_env_package',
    'taxon_scientific_name',
    'env_biome',
    'env_feature',
    'env_material',
    'metaseek_investigation_type',
    'meta_latitude',
    'meta_longitude',
    'geo_loc_name',
    'expt_link'
]
even[impt_fields]

,sample_title,study_title,metaseek_env_package,taxon_scientific_name,env_biome,env_feature,env_material,metaseek_investigation_type,meta_latitude,meta_longitude,geo_loc_name,expt_link
8779,MIMS Environmental/Metagenome sample from fres...,watershed biome Raw sequence reads,water,freshwater metagenome,watershed biome,protected,fresh water,metagenome,49.0000,-123.00000,Canada: Southwestern British Columbia,https://www.ncbi.nlm.nih.gov/sra/1588960
20895,59; OSD52_2014-06-21_1m_NPL022,Ocean Sampling Day (OSD) 2014: AUTHORITY-RAW a...,water,marine metagenome,marine biome,surface water,seawater,metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/1288662
29034,TARA_B100000073; TARA_20100315T1118Z_038_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),deep chlorophyll maximum layer (ENVO:xxxxxxxx),"saline water (ENVO:00002010), including plankt...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/986402
48626,EMOSE_N010000424; EMOSE_201705300746Z_DAY1_PUM...,EMOSE (2017) Inter-Comparison of Marine Plankt...,water,marine metagenome,Westerlies Biome,[SRF] surface water layer (ENVO:00010504) with...,"water (ENVO:00002006), including particulate m...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/4402402
9383,FS896_ElGuapo_DNA; Metagenomes and metatranscr...,Metagenomes and metatranscriptomes from the di...,water,metagenome,marine,hydrothermal vent,diffuse fluid,metagenome,45.9266,-129.97900,Pacific Ocean,https://www.ncbi.nlm.nih.gov/sra/1210603
48483,174; GOAIL,"We analyzed 9,933 larvae from 383 samples in t...",water,metagenome,sea water,open water,sea water,metagenome,29.4478,34.96280,Jordan,https://www.ncbi.nlm.nih.gov/sra/4589557
75227,SOLA35,SOLA (NW Mediterranean) surface seawater metag...,water,seawater metagenome,None,None,None,metagenome,NaN,NaN,Mediterranean Sea,https://www.ncbi.nlm.nih.gov/sra/5859821
9433,TARA_N000002037; TARA_20110804T1833Z_124_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),surface water layer (ENVO:00002042),"particulate matter, including plankton (ENVO:x...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/1476189
18327,TARA_B100000470; TARA_20100913T1303Z_068_Combi...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),mesopelagic zone (ENVO:00000213),"saline water (ENVO:00002010), including plankt...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/986573
20498,TARA_N000000419; TARA_20100629T1500Z_058_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),deep chlorophyll maximum layer (ENVO:xxxxxxxx),"particulate matter, including plankton (ENVO:x...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/1476250
32896,MIMS Environmental/Metagenome sample from bulk,BATS Metagenome,water,marine metagenome,seawater,metagenome bulk CA current,seawater,metagenome,NaN,NaN,California Current,https://www.ncbi.nlm.nih.gov/sra/543513
3722,FS856; Mid-Cayman Rise,Subseafloor microbes at Mid-Cayman Rise,water,hydrothermal vent metagenome,seawater,hydrothermal vent,water,metagenome,18.5466,-81.71770,Atlantic Ocean,https://www.ncbi.nlm.nih.gov/sra/3895471
28116,MIMS Environmental/Metagenome sample from Cyan...,Lake Huron Sinkhole Photosynthetic Microbial M...,water,microbial mat metagenome,fresh water,sink hole,water,metagenome,NaN,NaN,northwestern Lake Huron,https://www.ncbi.nlm.nih.gov/sra/446027
14867,TARA_R100000458; TARA_20100330T1056Z_041_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),deep chlorophyll maximum layer (ENVO:xxxxxxxx),"saline water (ENVO:00002010), including plankt...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/979941
13445,MIMS Environmental/Metagenome sample from mari...,Are abundant bacteria more active than rare ba...,water,marine metagenome,marine biome,marine habitat,water,metagenome,31.4000,-64.10000,Sargasso Sea,https://www.ncbi.nlm.nih.gov/sra/714042
23441,FS879; Mid-Cayman Rise,Subseafloor microbes at Mid-Cayman Rise,water,hydrothermal vent metagenome,seawater,hydrothermal vent,water,metagenome,18.3747,-81.79730,Atlantic Ocean,https://www.ncbi.nlm.nih.gov/sra/3895287
2580,TARA_N000001996; TARA_20110731T2307Z_123_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),surface water layer (ENVO:00002042),"particulate matter, including plankton (ENVO:x...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/3430761
2007,TARA_N000001430; TARA_20101202T1814Z_081_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),deep chlorophyll maximum layer (ENVO:xxxxxxxx),"particulate matter, including plankton (ENVO:x...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/3430404
19848,TARA_B100001029; TARA_20110403T2150Z_098_Combi...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),deep chlorophyll maximum layer (ENVO:xxxxxxxx),"saline water (ENVO:00002010), including plankt...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/986531
85353,T0.Exp21.2,Metagenomics sequences of hot water samples fr...,water,metagenome,None,None,None,metagenome,37.2296,-80.41390,USA,https://www.ncbi.nlm.nih.gov/sra/6710271
5366,TARA_B100001121; TARA_20110808T1733Z_125_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),surface water layer (ENVO:00002042),"saline water (ENVO:00002010), including plankt...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/986541
16976,TARA_N000001896; TARA_20110619T1712Z_113_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),surface water layer (ENVO:00002042),"particulate matter, including plankton (ENVO:x...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/1476281
11008,TARA_R100001369; TARA_20110106T1038Z_085_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),surface water layer (ENVO:00002042),"saline water (ENVO:00002010), including plankt...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/987419
41825,P1994_116; Blueprint:MO7_D_1C,Baltic Sea reference metagenome assembly and d...,water,aquatic metagenome,Brackish water,Pelagic,water,metagenome,NaN,NaN,Baltic Sea,https://www.ncbi.nlm.nih.gov/sra/4823253
65560,ArcMicro_NICE15_4,Shotgun Metagenomic Sequencing of the Arctic O...,water,bacterium,None,None,None,metagenome,82.4375,15.20500,Arctic Ocean,https://www.ncbi.nlm.nih.gov/sra/7161467
31768,FS881; Mid-Cayman Rise,Subseafloor microbes at Mid-Cayman Rise,water,hydrothermal vent metagenome,seawater,hydrothermal vent,water,metagenome,18.3750,-81.79760,Atlantic Ocean,https://www.ncbi.nlm.nih.gov/sra/3895304
35286,G1,PHOTOHETEROPHY IN A MESOSCALE ANTICYCLONIC EDD...,water,metagenome,Water,Photic zone,Seawater sample,metagenome,32.1653,34.25050,Mediterranean Sea,https://www.ncbi.nlm.nih.gov/sra/3533658
34429,TARA_N000001754; TARA_20110521T1227Z_110_EVENT...,Shotgun Sequencing of Tara Oceans DNA samples ...,water,marine metagenome,marine biome (ENVO:00000447),surface water layer (ENVO:00002042),"particulate matter, including plankton (ENVO:x...",metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/3430665
61181,TARA_R110000850,Shotgun Sequencing of Tara Oceans Polar Circle...,water,marine metagenome,None,None,None,metagenome,NaN,NaN,None,https://www.ncbi.nlm.nih.gov/sra/6248220
106223,Drinking water metagenomics,Microbial communities in drinking water systems,water,freshwater metagenome,None,None,None,metagenome,59.9115,10.75790,Norway,https://www.ncbi.nlm.nih.gov/sra/8992022
...,...,...,...,...,...,...,...,...,...,...,...,...
17041,MET0290,Gene-Environment Interactions at the Skin Surface,human-skin,human skin metagenome,human skin,Ch-R,Ss,metagenome,38.9847,-77.09470,USA,https://www.ncbi.nlm.nih.gov/sra/1075890
18794,P20E0,The initial state of the human gut microbiome ...,human-gut,gut metagenome,human,gut,Stool,metagenome,46.8033,-71.24280,Canada,https://www.ncbi.nlm.nih.gov/sra/1301393
34452,Human gut metagenome/metranscriptome from V. c...,Human gut microbiome with bacterial pathogen c...,human-gut,human gut metagenome,human gut,hospital,human fecal sample,metagenome,39.2885,-76.62590,USA: Baltimore,https://www.ncbi.nlm.nih.gov/sra/3465110
21179,MIMS Environmental/Metagenome sample from huma...,Human Gut Microbiome Metagenome,human-gut,human gut metagenome,human-associated habitat,human-associated habitat,feces,metagenome,-5.6800,-73.33000,Peru,https://www.ncbi.nlm.nih.gov/sra/1194577
16672,Metagenome,human gut metagenome in RA,human-gut,human gut metagenome,human gut,ankylosing spondylitis patient,healthy_person,metagenome,30.3000,120.20000,China:Hangzhou,https://www.ncbi.nlm.nih.gov/sra/3500521
45560,713B016-11-90-0,Subspecies in the global human gut microbiome,human-gut,Homo sapiens,Stool sample,Stool sample,Microbial DNA,metagenome,51.1605,71.47040,Kazakhstan,https://www.ncbi.nlm.nih.gov/sra/4793157
30595,MIMS Environmental/Metagenome sample from huma...,Gut microbial interactions with the inflammato...,human-gut,human gut metagenome,ENVO:00009003,ENVO:2100002,ENVO:00002003,metagenome,NaN,NaN,Netherlands,https://www.ncbi.nlm.nih.gov/sra/3545604
25652,SZAXPI018489-21; oral sample from China; DT179,Gut and Oral Microbiome Dysbiosis in Rheumatoi...,human-gut,human oral metagenome,human oral,human-associated habitat,saliva,metagenome,55.6761,12.56830,China,https://www.ncbi.nlm.nih.gov/sra/1606037
28478,human gut metagenome; Stool sample from danish,A method for identifying metagenomic species a...,human-gut,human gut metagenome,human gut,human-associated habitat,faeces,metagenome,55.6761,12.56830,Denmark,https://www.ncbi.nlm.nih.gov/sra/779637
29795,P15E0,The initial state of the human gut microbiome ...,human-gut,gut metagenome,human,gut,Stool,metagenome,46.8033,-71.24280,Canada,https://www.ncbi.nlm.nih.gov/sra/1301839
33269,Metagenome,Human gut microbiome in AS,human-gut,human gut metagenome,human gut,ankylosing spondylitis patient,feces,metagenome,30.3000,120.20000,China,https://www.ncbi.nlm.nih.gov/sra/3440440
24530,P23C90,The initial state of the human gut microbiome ...,human-gut,gut metagenome,human,gut,Stool,metagenome,46.8033,-71.24280,Canada,https://www.ncbi.nlm.nih.gov/sra/1301562
17793,human gut metagenome; Stool sample from spanish,A method for identifying metagenomic species a...,human-gut,human gut metagenome,human gut,human-associated habitat,faeces,metagenome,40.4166,-3.70377,Spain,https://www.ncbi.nlm.nih.gov/sra/778544
1979,human gut metagenome; Stool sample from spanish,A method for identifying metagenomic species a...,human-gut,human gut metagenome,human gut,human-associated habitat,faeces,metagenome,40.4166,-3.70377,Spain,https://www.ncbi.nlm.nih.gov/sra/779266
37697,MIMS Environmental/Metagenome sample from gut ...,Clinical Parameters and Gut Microbiome Changes...,human-gut,gut metagenome,gut microbiome,human gut,feces,metagenome,39.9796,116.40900,China:Beijing:Anzhen Hospital,https://www.ncbi.nlm.nih.gov/sra/3845120
8425,MIMS Environmental/Metagenome sample from huma...,Skin metagenomes,human-skin,human skin metagenome,human skin,right olecranon skin area,organic_material,metagenome,46.0667,11.11670,Italy: Trento,https://www.ncbi.nlm.nih.gov/sra/1471978
98074,OM061,Distinct microbiome composition and metabolome...,human-gut,Homo sapiens,None,None,None,metagenome,53.3946,-6.35548,Ireland,https://www.ncbi.nlm.nih.gov/sra/8758822
33447,FAT_012-22-0-0; stool sample,Impact of faecal microbiota transplantation on...,human-gut,human gut metagenome,human-associated habitat,intestine environment,feces,metagenome,52.0000,5.00000,Netherlands,https://www.ncbi.nlm.nih.gov/sra/2492570
100839,OM058,Distinct microbiome composition and metabolome...,human-gut,Homo sapiens,None,None,None,metagenome,53.3946,-6.35548,Ireland,https://www.ncbi.nlm.nih.gov/sra/8758820
5778,MIMS Environmental/Metagenome sample from huma...,Gene-Environment Interactions at the Skin Surface,human-skin,human skin metagenome,human skin,Id-R,Ss,metagenome,38.9847,-77.09470,USA,https://www.ncbi.nlm.nih.gov/sra/2255279
17226,human gut metagenome; Stool sample from danish,A method for identifying metagenomic species a...,human-gut,human gut metagenome,human gut,human-associated habitat,faeces,metagenome,55.6761,12.56830,Denmark,https://www.ncbi.nlm.nih.gov/sra/778741
23042,Metagenome,human gut metagenome in RA,human-gut,human gut metagenome,human gut,ankylosing spondylitis patient,feces,metagenome,30.3000,120.20000,China:Hangzhou,https://www.ncbi.nlm.nih.gov/sra/3500557
10850,P9E90,The initial state of the human gut microbiome ...,human-gut,gut metagenome,human,gut,Stool,metagenome,46.8033,-71.24280,Canada,https://www.ncbi.nlm.nih.gov/sra/1301225
8110,K_12-22-0-0_13s000080-2-1_lane8; K_12,Intestinal microbiome is related to lifetime a...,human-gut,Homo sapiens,Gut,Faecal sample,Faecal sample,metagenome,80.0000,40.00000,Finland,https://www.ncbi.nlm.nih.gov/sra/2145503
31800,P14E0,The initial state of the human gut microbiome ...,human-gut,gut metagenome,human,gut,Stool,metagenome,46.8033,-71.24280,Canada,https://www.ncbi.nlm.nih.gov/sra/1301681
10761,PD-13; stool sample,The fecal microbiota in L-DOPA naive PD patients,human-gut,human gut metagenome,human-associated habitat [ENVO:00009003],intestine environment [ENVO:2100002],feces,metagenome,50.9429,6.96731,Germany,https://www.ncbi.nlm.nih.gov/sra/3921353
23334,RSZAXPI002460-93; oral sample from China; CT10,Gut and Oral Microbiome Dysbiosis in Rheumatoi...,human-gut,human oral metagenome,human oral,human-associated habitat,saliva,metagenome,55.6761,12.56830,China,https://www.ncbi.nlm.nih.gov/sra/1606162
46133,713B055-11-0-0,Subspecies in the global human gut microbiome,human-gut,Homo sapiens,Stool sample,Stool sample,Microbial DNA,metagenome,51.1605,71.47040,Kazakhstan,https://www.ncbi.nlm.nih.gov/sra/4793252
31475,Homo sapiens; Human stool sample,Temporal and technical variability of human gu...,human-gut,Homo sapiens,-,-,-,metagenome,NaN,NaN,Germany,https://www.ncbi.nlm.nih.gov/sra/1359654
25884,18706034_SF07.dna,Human gut metagenome and metatranscriptome raw...,human-gut,human gut metagenome,ENVO:00009003,ENVO:2100002,ENVO:00002003,metagenome,NaN,NaN,USA,https://www.ncbi.nlm.nih.gov/sra/3588804

In [47]:
#this is fine for now. Save!
even.to_csv('Metagenomes1000_EvenEnvPackages.csv',index=False)

In [38]:
#randomly select up to 100 metagenomes from each category
small = pd.DataFrame()
for cat in other:
    subset = new[new['metaseek_env_package']==cat]
    if len(subset)>=1:
        toadd = subset.sample(1,replace=False, random_state=99)
    else:
        toadd = subset
    small = small.append(toadd)
subseth = new[new['metaseek_env_package'].isin(human)]
toaddh = subseth.sample(1, replace=False, random_state=99)
small = small.append(toaddh)

In [39]:
small.head()
print(np.mean(small['avg_read_length_maxrun']))
print(np.mean(small['library_reads_sequenced_maxrun'])/1e6)

116.9
25.812524600000003

In [109]:
subseth = new[new['metaseek_env_package'].isin(human)]
subseth.sample(1, replace=False)[['run_ids_maxrun', 'study_title']]

      run_ids_maxrun                                        study_title
17591     ERR1753690  An obese child finished a 105-days intervenion...

In [60]:
subset = new[new['metaseek_env_package']=='sediment']
subset.sample(1,replace=False)[['run_ids_maxrun', 'study_title']]

      run_ids_maxrun                                        study_title
27904      ERR257715  Making and breaking DMS by salt marsh microbes...

In [62]:
subset = new[new['metaseek_env_package']=='miscellaneous']
subset.sample(1,replace=False)[['run_ids_maxrun', 'study_title']]

      run_ids_maxrun                                        study_title
60342     ERR2298555  Bacterial and viral communities within ferment...

In [67]:
subset = new[new['metaseek_env_package']=='microbial mat/biofilm']
subset.sample(1,replace=False)[['run_ids_maxrun', 'study_title']]

      run_ids_maxrun                                        study_title
30212     ERR1543536  Metagenomic analysis of microbial mat of hot s...

In [68]:
subset = new[new['metaseek_env_package']=='built environment']
subset.sample(1,replace=False)[['run_ids_maxrun', 'study_title']]

      run_ids_maxrun            study_title
18011     ERR1332584  Hospital Metagenomics

In [40]:
small[['library_reads_sequenced_maxrun','metaseek_env_package', 'run_ids_maxrun']]

       library_reads_sequenced_maxrun   metaseek_env_package run_ids_maxrun
17995                      34099068.0                  water     SRR5002316
14847                      69820263.0        host-associated      SRR925829
9066                       48806409.0                   soil      ERR671922
52914                       2732691.0               sediment     ERR1743390
23717                       5217070.0      wastewater/sludge     SRR1702228
2715                       23573715.0       plant-associated     SRR1510983
7584                       31246537.0          miscellaneous     SRR4048938
32003                      14561833.0  microbial mat/biofilm     ERR1855536
21403                      26412190.0      built environment     SRR1577780
35294                       1655470.0              human-gut      ERR748323

In [69]:
small['run_ids_maxrun']

17995    SRR5002316
14847     SRR925829
9066      ERR671922
52914    ERR1743390
23717    SRR1702228
2715     SRR1510983
7584     SRR4048938
32003    ERR1855536
21403    SRR1577780
35294     ERR748323
Name: run_ids_maxrun, dtype: object

In [70]:
small_runs = [
'SRR5002316',
'SRR925829',
'ERR671922',
'ERR257715',
'SRR1702228',
'SRR1510983',
'ERR2298555',
'ERR1543536',
'ERR1332584',
'ERR748323'
]

In [75]:
np.sum(even['download_size_maxrun'])

3411346244982.0

In [151]:
#randomly select up to 100 metagenomes from each category
ten = pd.DataFrame()
for x in range(0,10):
    #doing it this way so env packages are cycled through in order
    print(x)
    for cat in other:
        subset = new[new['metaseek_env_package']==cat]
        if len(subset)>=1:
            toadd = subset.sample(1,replace=False)
        else:
            toadd = subset
        ten = ten.append(toadd)
    subseth = new[new['metaseek_env_package'].isin(human)]
    toaddh = subseth.sample(1, replace=False)
    ten = ten.append(toaddh)

0
1
2
3
4
5
6
7
8
9

In [152]:
ten['metaseek_env_package']

19493                     water
92916           host-associated
90192                      soil
3172                   sediment
95795         wastewater/sludge
82727          plant-associated
34256             miscellaneous
103967    microbial mat/biofilm
33010         built environment
4847                  human-gut
6047                      water
21030           host-associated
54190                      soil
92216                  sediment
23089         wastewater/sludge
83958          plant-associated
93731             miscellaneous
7171      microbial mat/biofilm
73810         built environment
36141                 human-gut
4125                      water
77887           host-associated
61078                      soil
73545                  sediment
76746         wastewater/sludge
72822          plant-associated
70973             miscellaneous
24116     microbial mat/biofilm
73807         built environment
17049                 human-gut
                  ...
67457                     water
94991           host-associated
29387                      soil
75395                  sediment
10895         wastewater/sludge
35929          plant-associated
28676             miscellaneous
38320     microbial mat/biofilm
4602          built environment
109557                human-gut
33510                     water
15146           host-associated
91079                      soil
36603                  sediment
83799         wastewater/sludge
35609          plant-associated
92466             miscellaneous
11483     microbial mat/biofilm
21405         built environment
11051                 human-gut
28585                     water
16028           host-associated
39868                      soil
52915                  sediment
7130          wastewater/sludge
88334          plant-associated
39499             miscellaneous
24204     microbial mat/biofilm
25677         built environment
63116                 human-gut
Name: metaseek_env_package, Length: 100, dtype: object

In [153]:
print(len(ten[ten['library_reads_sequenced_maxrun']<4000000]))
ten[ten['library_reads_sequenced_maxrun']<4000000][['metaseek_env_package','library_reads_sequenced_maxrun']]

16

      metaseek_env_package  library_reads_sequenced_maxrun
3172              sediment                       1975171.0
92216             sediment                       1104063.0
73545             sediment                       1666623.0
17600      host-associated                       1489053.0
82440     plant-associated                       2473124.0
21931            human-gut                       1575450.0
34209                 soil                       1354319.0
61252            human-gut                       2512512.0
67457                water                       2209131.0
94991      host-associated                       1018807.0
75395             sediment                       2143948.0
35929     plant-associated                       1212903.0
33510                water                       1788521.0
7130     wastewater/sludge                       2919857.0
25677    built environment                       1617361.0
63116            human-gut                       2228448.0

In [154]:
Counter(ten['library_construction_method'])

Counter({'paired': 85, 'single': 15})

In [156]:
pwd

'/Users/adrienne/Projects/ENIGMA/GetMetaSeekDatasets'

In [155]:
ten['run_ids_maxrun'].to_csv('TrainSmall100_EvenEnv_RunIDS.csv', index=False)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

## looking closer at the df

In [48]:
np.mean(even['avg_read_length_maxrun'])

125.6600299188641

In [53]:
np.sum(even['library_reads_sequenced_maxrun'])/1e9

26.26716882

In [50]:
np.mean(even['avg_read_length_maxrun'])*np.sum(even['library_reads_sequenced_maxrun'])/1e12

3.3007332198050543

In [54]:
#26 billion reads; 3.3 trillion nucleotides; 125 avg read length

In [58]:
even['run_ids_maxrun'].to_csv('Metagenomes1000_EvenEnvPackages_RunIDs.csv', index=False)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [57]:
np.where(even.columns=='run_ids_maxrun')

(array([72]),)

In [22]:
runs = pd.read_csv("TrainSmall100_EvenEnv_RunIDS.csv",header=None)
runs.columns = ['run_ids_maxrun']
runs.head()

  run_ids_maxrun
0     ERR1726943
1     ERR2200674
2     ERR1960504
3     SRR4069407
4     ERR3173383

In [47]:
len(runs)
len(set(runs['run_ids_maxrun']))
runs[runs.duplicated()]
runs[runs['run_ids_maxrun']=='SRR925829']
#runs[runs['run_ids_maxrun']=='SRR1577782']

   run_ids_maxrun
41      SRR925829
51      SRR925829
81      SRR925829
91      SRR925829

In [55]:
run_subset = metagenomes[metagenomes['run_ids_maxrun'].isin(runs['run_ids_maxrun'])]
print(len(run_subset))
print(len(run_subset.drop_duplicates()))
run_subset = run_subset.drop_duplicates()
print(len(run_subset))
run_subset.head()
from collections import Counter
Counter(run_subset['metaseek_env_package'])

1993
96
96

Counter({'sediment': 10,
         'water': 10,
         'built environment': 9,
         'human-gut': 9,
         'wastewater/sludge': 10,
         'microbial mat/biofilm': 10,
         'human-skin': 1,
         'host-associated': 7,
         'miscellaneous': 10,
         'soil': 10,
         'plant-associated': 10})

In [56]:
print(len(run_subset))
run_subset.index = run_subset['run_ids_maxrun']
run_subset.head()

96

,age,altitude,assembly,avg_read_length_maxrun,baseA_count_maxrun,baseC_count_maxrun,baseG_count_maxrun,baseN_count_maxrun,baseT_count_maxrun,biomaterial_provider,...,study_type_other,submission_id,subspecific_genetic_lineage,target_gene,target_subfragment,taxon_common_name,taxon_scientific_name,tissue,total_num_bases_maxrun,uri
run_ids_maxrun,,,,,,,,,,,,,,,,,,,,,
SRR4069407,NaN,NaN,NaN,113.0000,109820727,1.135239e+08,113307807,115606,1.096206e+08,NaN,...,NaN,SRA455700,NaN,NaN,NaN,NaN,marine sediment metagenome,NaN,4.463886e+08,/dataset/231812
ERR1474613,NaN,NaN,NaN,122.1590,3536934911,2.383904e+09,2380320821,0,3.526199e+09,NaN,...,NaN,ERA665490,NaN,NaN,NaN,NaN,Achromatium oxaliferum,NaN,1.182736e+10,/dataset/285280
SRR4343439,NaN,NaN,NaN,97.1558,1755872147,1.641800e+09,1648856804,340691,1.762343e+09,NaN,...,NaN,SRA481916,NaN,NaN,NaN,NaN,groundwater metagenome,NaN,6.809213e+09,/dataset/310558
ERR1332600,NaN,NaN,NaN,101.0000,1817642524,1.636167e+09,1476234535,871176,1.917134e+09,NaN,...,NaN,ERA587179,NaN,NaN,NaN,NaN,metagenome,NaN,6.848049e+09,/dataset/347315
ERR209626,NaN,NaN,NaN,68.5843,861254275,7.019861e+08,695705989,20042,8.587082e+08,NaN,...,NaN,ERA179067,NaN,NaN,NaN,NaN,human gut metagenome,NaN,3.117675e+09,/dataset/365915

In [63]:
joined_runs = runs.join(run_subset,on='run_ids_maxrun',lsuffix="1").drop_duplicates()
joined_runs = joined_runs[joined_runs.columns[1:]]

joined_runs = joined_runs[joined_runs['metaseek_env_package']!='human-skin']
print(Counter(joined_runs['metaseek_env_package']))
joined_runs

Counter({'water': 10, 'soil': 10, 'sediment': 10, 'wastewater/sludge': 10, 'plant-associated': 10, 'miscellaneous': 10, 'microbial mat/biofilm': 10, 'built environment': 9, 'human-gut': 9, 'host-associated': 7})

,age,altitude,assembly,avg_read_length_maxrun,baseA_count_maxrun,baseC_count_maxrun,baseG_count_maxrun,baseN_count_maxrun,baseT_count_maxrun,biomaterial_provider,...,study_type_other,submission_id,subspecific_genetic_lineage,target_gene,target_subfragment,taxon_common_name,taxon_scientific_name,tissue,total_num_bases_maxrun,uri
0,NaN,NaN,NaN,97.0000,9936406815,1.114231e+10,11037984069,191833,9.887896e+09,NaN,...,NaN,ERA763626,NaN,NaN,NaN,NaN,marine metagenome,NaN,4.200479e+10,/dataset/1304153
1,NaN,NaN,NaN,93.0000,9406405292,8.301602e+09,8287524401,64590,9.425793e+09,NaN,...,NaN,ERA1138909,NaN,NaN,NaN,NaN,bovine metagenome,NaN,3.542139e+10,/dataset/5690979
2,NaN,NaN,NaN,101.0000,3444474066,5.271387e+09,5303207041,1644344,3.436626e+09,NaN,...,NaN,ERA912527,NaN,NaN,NaN,NaN,soil metagenome,NaN,1.745734e+10,/dataset/5521303
3,NaN,NaN,NaN,113.0000,109820727,1.135239e+08,113307807,115606,1.096206e+08,NaN,...,NaN,SRA455700,NaN,NaN,NaN,NaN,marine sediment metagenome,NaN,4.463886e+08,/dataset/231812
4,NaN,NaN,NaN,251.0000,1398353534,1.252008e+09,1233811816,146370,1.387044e+09,NaN,...,NaN,ERA1745989,NaN,NaN,NaN,NaN,anaerobic digester metagenome,NaN,5.271364e+09,/dataset/5860492
5,NaN,NaN,NaN,101.0000,1174503914,1.108530e+09,1234409039,177014,1.098175e+09,NaN,...,NaN,ERA1614303,NaN,NaN,NaN,NaN,metagenome,NaN,4.615795e+09,/dataset/5055175
6,NaN,NaN,NaN,101.0000,12733097740,1.315828e+10,13193400432,72126767,1.265164e+10,NaN,...,NaN,DRA004030,NaN,NaN,NaN,NaN,activated sludge metagenome,NaN,5.180854e+10,/dataset/2428842
7,NaN,NaN,NaN,147.0000,524872391,4.919386e+08,492473524,0,5.049023e+08,NaN,...,NaN,ERA966087,NaN,NaN,NaN,NaN,Sus scrofa,NaN,2.014187e+09,/dataset/6331978
8,NaN,NaN,NaN,101.0000,1226899244,1.003467e+09,978564199,997908,1.251025e+09,NaN,...,NaN,ERA587179,NaN,NaN,NaN,NaN,metagenome,NaN,4.460954e+09,/dataset/2334070
9,NaN,NaN,NaN,68.5843,861254275,7.019861e+08,695705989,20042,8.587082e+08,NaN,...,NaN,ERA179067,NaN,NaN,NaN,NaN,human gut metagenome,NaN,3.117675e+09,/dataset/365915
10,NaN,NaN,NaN,99.1126,11118809367,6.070034e+09,6039806484,248255,1.113265e+10,NaN,...,NaN,ERA357871,NaN,NaN,NaN,NaN,marine metagenome,NaN,3.436155e+10,/dataset/454842
11,NaN,NaN,NaN,92.0000,1540253510,1.311682e+09,1307098255,37918,1.541173e+09,NaN,...,NaN,ERA534578,NaN,NaN,NaN,NaN,pig gut metagenome,NaN,5.700245e+09,/dataset/1417864
12,NaN,NaN,NaN,150.0000,330900552,5.560516e+08,554651035,76933,3.259937e+08,NaN,...,NaN,ERA1502190,NaN,NaN,NaN,NaN,soil metagenome,NaN,1.767674e+09,/dataset/3382389
13,NaN,NaN,NaN,143.0000,71870498,8.603952e+07,87674455,168726,7.145186e+07,NaN,...,NaN,ERA769156,NaN,NaN,NaN,NaN,metagenome,NaN,3.172051e+08,/dataset/5639144
14,NaN,NaN,NaN,101.0000,631881385,7.590470e+08,761545645,1526675,6.297589e+08,NaN,...,NaN,SRA192497,NaN,NaN,NaN,NaN,wastewater metagenome,NaN,2.783760e+09,/dataset/1582129
15,NaN,NaN,NaN,98.0000,659788302,7.920486e+08,793506818,554602,6.273446e+08,NaN,...,NaN,ERA1550550,NaN,NaN,NaN,NaN,soil metagenome,NaN,2.873243e+09,/dataset/5130635
16,NaN,NaN,NaN,65.0000,208741796,3.216619e+08,324286768,777793,2.078384e+08,NaN,...,NaN,ERA1172885,NaN,NaN,NaN,NaN,metagenomes,NaN,1.063307e+09,/dataset/5736087
17,NaN,NaN,NaN,141.0360,4762687572,2.577985e+09,2607745862,14825391,4.717684e+09,NaN,...,NaN,SRA140534,NaN,NaN,NaN,NaN,Haliclona cymaeformis,NaN,1.468093e+10,/dataset/533696
18,NaN,NaN,NaN,150.0000,3582619851,3.053997e+09,3139341776,910124,3.484290e+09,NaN,...,NaN,ERA1545701,NaN,NaN,NaN,NaN,indoor metagenome,NaN,1.326116e+10,/dataset/4533688
19,NaN,NaN,NaN,97.0000,1499223380,1.095861e+09,1093108786,33491,1.496594e+09,NaN,...,NaN,ERA542780,NaN,NaN,NaN,P028V6,human gut metagenome,NaN,5.184821e+09,/dataset/2570675
20,NaN,NaN,NaN,97.1558,1755872147,1.641800e+09,1648856804,340691,1.762343e+09,NaN,...,NaN,SRA481916,NaN,NaN,NaN,NaN,groundwater metagenome,NaN,6.809213e+09,/dataset/310558
21,NaN,NaN,NaN,151.0000,4320967877,3.883993e+09,3900157887,2219817,4.271337e+09,NaN,...,NaN,ERA1179253,NaN,NaN,NaN,NaN,metagenome,NaN,1.637868e+10,/dataset/4764533
22,NaN,NaN,NaN,251.0000,776630961,1.320502e+09,1315010255,383731,7.711101e+08,NaN,...,NaN,ERA836085,NaN,NaN,NaN,NaN,soil metagenome,NaN,4.183637e+09,/dataset/3792415
23,NaN,NaN,NaN,105.0000,84600525,9.048764e+07,91317880,1800128,8.411879e+07,NaN,...,NaN,ERA769156,NaN,NaN,NaN,NaN,metagenome,NaN,3.523250e+08,/dataset/4518005
24,NaN,NaN,NaN,150.0000,835142179,9.490746e+08,951732479,18407,8.348157e+08,NaN,...,NaN,ERA912593,NaN,NaN,NaN,NaN,Clostridium beijerinckii NCIMB 8052,NaN,3.570783e+09,/dataset/4701211
25,NaN,NaN,NaN,99.0000,556507319,7.938687e+08,796554996,518916,5.535061e+08,NaN,...,NaN,ERA1550550,NaN,NaN,NaN,NaN,soil metagenome,NaN,2.700956e+09,/dataset/4472906
26,NaN,NaN,NaN,101.0000,376813120,2.128112e+08,215754366,17713,3.766333e+08,NaN,...,NaN,ERA1206448,NaN,NaN,NaN,NaN,food production metagenome,NaN,1.182030e+09,/dataset/4357444
27,NaN,NaN,NaN,300.0000,5319018481,4.784824e+09,3823267811,1883953,3.990120e+09,NaN,...,NaN,SRA302646,NaN,NaN,NaN,NaN,biofilm metagenome,NaN,1.791911e+10,/dataset/1664892
28,NaN,NaN,NaN,150.0000,2093826154,3.258074e+09,3292333981,698665,2.046273e+09,NaN,...,NaN,ERA1545701,NaN,NaN,NaN,NaN,indoor metagenome,NaN,1.069121e+10,/dataset/4533685
29,NaN,NaN,NaN,128.0000,631550538,6.242810e+08,625171814,6904358,6.287435e+08,NaN,...,NaN,ERA695339,NaN,NaN,NaN,NaN,metagenome,NaN,2.516651e+09,/dataset/1128189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NaN,NaN,NaN,100.0000,612428501,5.140646e+08,511966922,14980,6.095250e+08,KAUST and HKUST,...,NaN,SRA146272,NaN,NaN,NaN,NaN,biofilm metagenome,No,2.248000e+09,/dataset/579615
68,NaN,NaN,NaN,101.0000,1474108819,1.006527e+09,1002731887,1855570,1.475178e+09,NaN,...,NaN,SRA179872,NaN,NaN,NaN,NaN,mixed culture,NaN,4.960401e+09,/dataset/2478823
69,NaN,NaN,NaN,262.0000,343575017,3.175753e+08,313904554,93759,3.463911e+08,NaN,...,NaN,ERA1717356,NaN,NaN,NaN,NaN,human gut metagenome,NaN,1.321540e+09,/dataset/3802655
70,NaN,NaN,NaN,300.0000,332253440,3.380388e+08,327960105,622676,3.266035e+08,NaN,...,NaN,ERA965247,NaN,NaN,NaN,NaN,bacterium,NaN,1.325479e+09,/dataset/4162755
71,80 year,NaN,NaN,112.0000,26150295,3.128775e+07,31289775,0,2.633139e+07,NaN,...,NaN,ERA1580922,NaN,NaN,NaN,NaN,human saliva metagenome,NaN,1.150592e+08,/dataset/5812827
72,NaN,NaN,NaN,89.0000,1101613634,1.764795e+09,1766968594,79911,1.100302e+09,NaN,...,NaN,SRA184032,NaN,NaN,NaN,NaN,freshwater sediment metagenome,NaN,5.733759e+09,/dataset/2055727
73,NaN,NaN,NaN,145.0000,136001219,1.743551e+08,177436083,221355,1.352276e+08,NaN,...,NaN,ERA769156,NaN,NaN,NaN,NaN,metagenome,NaN,6.232414e+08,/dataset/4621685
74,NaN,NaN,NaN,150.0000,2071657485,2.756161e+09,2669095051,2581082,2.053014e+09,NaN,...,NaN,ERA463459,NaN,NaN,NaN,NaN,groundwater metagenome,NaN,9.552508e+09,/dataset/792131
75,NaN,NaN,NaN,207.0000,52060200,7.343479e+07,73998310,25911,5.172142e+07,NaN,...,NaN,SRA218428,NaN,NaN,NaN,NaN,plant metagenome,NaN,2.512406e+08,/dataset/2552559
76,NaN,NaN,NaN,101.0000,836416838,1.076611e+09,1203536822,1589154,7.353948e+08,NaN,...,NaN,SRA166868,NaN,NaN,NaN,NaN,Homo sapiens,NaN,3.853549e+09,/dataset/1998572
77,NaN,NaN,NaN,96.0000,2502567458,2.409505e+09,2303648064,357292221,2.411861e+09,NaN,...,NaN,SRA073595,NaN,NaN,NaN,NaN,microbial mat metagenome,NaN,9.984873e+09,/dataset/2723757
78,NaN,NaN,NaN,101.0000,1817642524,1.636167e+09,1476234535,871176,1.917134e+09,NaN,...,NaN,ERA587179,NaN,NaN,NaN,NaN,metagenome,NaN,6.848049e+09,/dataset/347315
79,NaN,NaN,NaN,150.0000,2831528461,2.827039e+09,2793569589,895749,2.805452e+09,NaN,...,NaN,ERA2123048,NaN,NaN,V4,house mouse,Mus musculus,cecum,1.125848e+10,/dataset/6653691
80,NaN,NaN,NaN,151.0000,142412037,1.277450e+08,127708935,817549,1.414498e+08,NaN,...,NaN,SRA137082,NaN,NaN,NaN,NaN,aquatic metagenome,NaN,5.401333e+08,/dataset/2373181
82,NaN,NaN,NaN,101.0000,418863132,6.985814e+08,687977079,18168645,4.243460e+08,NaN,...,NaN,ERA1584502,NaN,NaN,NaN,NaN,soil metagenome,NaN,2.247936e+09,/dataset/5573882
83,NaN,NaN,NaN,100.0000,534094207,5.662548e+08,565081365,4976,5.336999e+08,NaN,...,NaN,ERA551821,NaN,NaN,NaN,NaN,metagenomes,NaN,2.199135e+09,/dataset/2604233
84,NaN,NaN,NaN,150.0000,1376024488,1.630444e+09,1627151371,621912,1.369665e+09,NaN,...,NaN,ERA771265,NaN,NaN,NaN,NaN,metagenome,NaN,6.003907e+09,/dataset/5121529
85,NaN,NaN,NaN,101.0000,992192326,1.755376e+09,1751547571,16501965,1.002853e+09,NaN,...,NaN,SRA174711,NaN,NaN,NaN,NaN,plant metagenome,NaN,5.518471e+09,/dataset/2530904
86,NaN,NaN,NaN,64.0000,211997731,3.073652e+08,310087863,794183,2.110759e+08,NaN,...,NaN,ERA1172885,NaN,NaN,NaN,NaN,metagenomes,NaN,1.041321e+09,/dataset/5662954
87,NaN,NaN,NaN,151.0000,1640228305,1.482254e+09,1480296461,1497552,1.652519e+09,NaN,...,NaN,ERA821119,NaN,NaN,NaN,pig,Sus scrofa,NaN,6.256795e+09,/dataset/843113
89,NaN,NaN,NaN,150.0000,1548821929,1.255746e+09,1303232905,823958,1.525445e+09,NaN,...,NaN,SRA501719,NaN,NaN,NaN,NaN,human gut metagenome,NaN,5.634069e+09,/dataset/805703
90,NaN,NaN,NaN,96.0000,7998581614,9.009446e+09,8961965209,102351,7.985603e+09,NaN,...,NaN,ERA357903,NaN,NaN,NaN,NaN,marine metagenome,NaN,3.395570e+10,/dataset/1991248
92,NaN,NaN,NaN,147.0000,1004504822,1.961749e+09,1978601946,1914130,1.005200e+09,NaN,...,NaN,SRA535943,NaN,NaN,NaN,NaN,soil metagenome,NaN,5.951970e+09,/dataset/2824008
93,NaN,NaN,NaN,147.0000,479540371,3.712107e+08,379530929,373279,4.709794e+08,NaN,...,NaN,ERA769156,NaN,NaN,NaN,NaN,metagenome,NaN,1.701635e+09,/dataset/3311354
94,NaN,NaN,NaN,142.0000,174140468,2.448382e+08,242284688,20106,1.679547e+08,NaN,...,NaN,SRA312534,NaN,NaN,NaN,NaN,wastewater metagenome,NaN,8.292382e+08,/dataset/531530
95,NaN,NaN,NaN,98.0000,553853778,4.277285e+08,427644675,14554,5.548652e+08,NaN,...,NaN,ERA1105829,NaN,NaN,NaN,NaN,Azolla mexicana,NaN,1.964107e+09,/dataset/5383608
96,NaN,NaN,NaN,148.0000,2299827739,1.262848e+09,1272361153,1614031,2.302440e+09,NaN,...,NaN,ERA739244,NaN,NaN,NaN,NaN,metagenome,NaN,7.139091e+09,/dataset/2800268
97,NaN,NaN,NaN,151.0000,1253301510,1.198851e+09,1203139705,1154642,1.255252e+09,NaN,...,NaN,ERA821119,NaN,NaN,NaN,pig,Sus scrofa,NaN,4.911699e+09,/dataset/1672920
98,NaN,NaN,NaN,101.0000,88910816,7.493771e+07,70673343,357949,9.182710e+07,NaN,...,NaN,ERA587179,NaN,NaN,NaN,NaN,metagenome,NaN,3.267069e+08,/dataset/1773220
99,NaN,NaN,NaN,301.0000,372215509,3.229343e+08,308020336,69,3.383555e+08,NaN,...,NaN,ERA1614073,NaN,NaN,NaN,NaN,metagenome,NaN,1.341526e+09,/dataset/3908524

In [64]:
joined_runs.to_csv('TrainSmall95_EvenEnv.csv')

In [66]:
print(set(joined_runs['run_ids_maxrun']))

{'ERR1855552', 'ERR2017141', 'SRR925829', 'ERR2239841', 'ERR2145413', 'SRR1298754', 'ERR1190830', 'ERR970605', 'ERR2241851', 'SRR4069407', 'ERR1877921', 'ERR2144884', 'ERR2020015', 'ERR1739691', 'SRR1238204', 'ERR1743388', 'ERR3521978', 'ERR1726943', 'ERR977414', 'ERR598955', 'SRR5164026', 'ERR1743304', 'ERR2699809', 'ERR1135232', 'ERR2239851', 'ERR1960627', 'ERR1855546', 'ERR1358726', 'ERR209703', 'SRR1185414', 'ERR1726572', 'ERR2709750', 'ERR3053395', 'ERR2200674', 'ERR2603191', 'ERR1743283', 'SRR1171647', 'ERR1746303', 'SRR830624', 'ERR712383', 'ERR2239840', 'ERR2298558', 'ERR209626', 'ERR2022395', 'ERR1474613', 'SRR1577782', 'ERR694158', 'ERR1332606', 'ERR2699805', 'ERR2765138', 'ERR2969987', 'ERR977422', 'SRR1574704', 'ERR1855538', 'SRR5091465', 'SRR1238205', 'DRR046818', 'ERR1698988', 'ERR1366724', 'ERR1076075', 'ERR1201181', 'SRR2556884', 'ERR599252', 'ERR2215874', 'DRR027592', 'ERR2709726', 'ERR1700691', 'SRR1511001', 'ERR2819892', 'ERR1332600', 'ERR2200504', 'SRR4343439', 'ERR1017187', 'ERR1960504', 'ERR1332623', 'SRR2938315', 'ERR1353140', 'SRR1707409', 'ERR1076080', 'ERR1726775', 'ERR2145397', 'ERR3173383', 'ERR1743339', 'ERR1987930', 'ERR1332586', 'SRR1616983', 'SRR1577774', 'ERR1332614', 'ERR2816294', 'ERR2767288', 'ERR2020026', 'ERR1560098', 'SRR1754159', 'ERR1600429', 'SRR5234512'}

In [71]:
#there is one run in the validset that is not in joined_runs: SRR3184383
#there is one run in joined_runs that is not in validset: DRR046818
print(metagenomes[metagenomes['run_ids_maxrun']=='SRR3184383']['metaseek_env_package']) #the human skin one I purposefully took out
print(metagenomes[metagenomes['run_ids_maxrun']=='DRR046818']['metaseek_env_package']) #probably random result of the split; no big

13647    human-skin
Name: metaseek_env_package, dtype: object
34256    miscellaneous
Name: metaseek_env_package, dtype: object

In [5]:
metagenomes = pd.read_csv("AllWGSMetagenomes_111519.csv")
metagenomes.head()

/Users/adrienne/anaconda3/envs/fastai/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,2,4,6,7,17,20,25,26,27,29,42,63,68,73,91,92,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,age,altitude,assembly,avg_read_length_maxrun,baseA_count_maxrun,baseC_count_maxrun,baseG_count_maxrun,baseN_count_maxrun,baseT_count_maxrun,biomaterial_provider,...,study_type_other,submission_id,subspecific_genetic_lineage,target_gene,target_subfragment,taxon_common_name,taxon_scientific_name,tissue,total_num_bases_maxrun,uri
0,NaN,NaN,NaN,101.0000,328906237,2.531359e+08,258309914,1540558,3.222122e+08,NaN,...,NaN,SRA142047,NaN,NaN,NaN,NaN,human metagenome,G_DNA_Stool,1.164105e+09,/dataset/471
1,NaN,NaN,NaN,251.0000,2530564082,2.365540e+09,2381416521,1688418,2.487628e+09,NaN,...,NaN,ERA319098,NaN,NaN,NaN,NaN,metagenome,NaN,9.766837e+09,/dataset/472
2,NaN,NaN,NaN,118.2430,251876372,4.240839e+08,429011348,63249,2.458168e+08,NaN,...,NaN,SRA536700,Sample 372,NaN,NaN,NaN,indoor metagenome,NaN,1.350852e+09,/dataset/474
3,NaN,NaN,NaN,114.2160,270678592,3.191162e+08,322950324,54335,2.658504e+08,NaN,...,NaN,SRA536700,Sample 374,NaN,NaN,NaN,indoor metagenome,NaN,1.178650e+09,/dataset/476
4,NaN,NaN,NaN,98.2786,1698704767,1.357826e+09,1352551982,34006,1.698900e+09,NaN,...,NaN,ERA675994,NaN,NaN,NaN,Gut metagenome,gut metagenome,NaN,6.108017e+09,/dataset/501

In [12]:
ten = pd.read_csv('TrainSmall100_EvenEnv_RunIDS.csv',names=['id'])
ten.head()

           id
0  ERR1726943
1  ERR2200674
2  ERR1960504
3  SRR4069407
4  ERR3173383

In [13]:
hundo = metagenomes[metagenomes['run_ids_maxrun'].isin(ten['id'])]

In [17]:
hundo = hundo.drop_duplicates()
len(hundo)

96

In [18]:
Counter(hundo['metaseek_env_package'])

Counter({'sediment': 10,
         'water': 10,
         'built environment': 9,
         'human-gut': 9,
         'wastewater/sludge': 10,
         'microbial mat/biofilm': 10,
         'human-skin': 1,
         'host-associated': 7,
         'miscellaneous': 10,
         'soil': 10,
         'plant-associated': 10})

In [21]:
cut = hundo[['metaseek_env_package','run_ids_maxrun']]
cut.columns = ['metaseek_environmental_package','sra_run_accession']
cut.to_csv('EvenEnv100_metagenomes.csv',index=False)